VITE_BASE_URL=http://localhost:3000

# DB
POSTGRES_USER=tanstarter
POSTGRES_PASSWORD=change-me
POSTGRES_DB=tanstarter
SERVER_DATABASE_URL=postgresql://tanstarter:change-me@localhost:5432/tanstarter

# AUTH
SERVER_AUTH_SECRET=

# RESEND
SERVER_MAIL_FROM=
SERVER_RESEND_API_KEY=