VITE_BASE_URL=http://localhost:3000

# DB
SERVER_POSTGRES_USER=
SERVER_POSTGRES_PASSWORD=
SERVER_DATABASE_URL="postgresql://${SERVER_POSTGRES_USER}:${SERVER_POSTGRES_PASSWORD}@localhost:5432/tanstarter-database"

# AUTH
SERVER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000
SERVER_GITHUB_CLIENT_ID=
SERVER_GITHUB_CLIENT_SECRET=
SERVER_GOOGLE_CLIENT_ID=
SERVER_GOOGLE_CLIENT_SECRET=

# RESEND
SERVER_RESEND_API_KEY=
SERVER_MAIL_FROM=