VITE_BASE_URL=http://localhost:3000

# DB
SERVER_POSTGRES_USER=
SERVER_POSTGRES_PASSWORD=
SERVER_DATABASE_URL="postgresql://${SERVER_POSTGRES_USER}:${SERVER_POSTGRES_PASSWORD}@localhost:5432/crowdsec-dashboard-database"

# AUTH
SERVER_AUTH_SECRET=

# CROWDSEC
SERVER_CROWDSEC_BASE_URL=http://localhost:8080
SERVER_CROWDSEC_LOGIN=
SERVER_CROWDSEC_PASSWORD=
SERVER_CROWDSEC_API_KEY=